/* Hero.module.css */

@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --HeaderFont: "Sriracha", cursive;
    --headColor:#262b3c
  }
.hero {
    position: relative;
    height: 100vh;
    color: #ffffff;
    background-size: cover;
    background-image: url("./Asset/bg.jpg");
    background-repeat: no-repeat;
  }
  
  .heroBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    overflow: hidden;
  }
  
  .heroContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--headColor);
    overflow:hidden;
  }
  
  .header {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: 'Rubik', sans-serif;
}  
  .description {
    font-size: 1.5rem;
    margin-bottom: 40px;
    font-family: 'Rubik', sans-serif;

}
  
  .ctaButton {
    padding: 12px 24px;
    color: #ffffff;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  

  /* Hero.module.css */
/* ... Existing styles ... */

.socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .socialIcon {
    width: 40px; /* Adjust the size of the icons as needed */
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
  }
  
  .socialIcon:hover {
    transform: scale(1.2); /* Add a slight zoom effect on hover */
  }
  
  /* Mobile responsiveness ... */
  
  
  /* Mobile responsiveness */
  @media screen and (max-width: 768px) {
    .header {
      font-size: 2.5rem;
    }
  
    .description {
      font-size: 1.2rem;
      margin-bottom: 30px;
    }
  
    .ctaButton {
      font-size: 1rem;
    }
  }

.scroll{
    position: absolute;
    bottom: 20px;
    width: 100%;
}

h1 span{
    color: rgb(91, 204, 168) !important;
    opacity: 0.6;
}
 
  
  