@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.projects-section {
    flex-direction: row;
    width: 70%;
    align-self:center;
    margin: auto;
    padding-top: 20px;
}
  ::-webkit-scrollbar{
    display: none;
  }
.projects-section h1,.projects-section span {
    width: 100%;
    align-self: flex-start;
    font-family: 'Rubik', sans-serif;
}
.projects-section span{
    margin: 10px 0px;
    color: #979797;
    font-size: 0.9rem;
}
.cards{
    max-width: fit-content;
    position: relative;
    min-width: 300px !important;
    height: 200px;
    border: 1px #dedede solid;
    padding: 30px;
    border-radius: 10px;
    margin: 20px 0px;
    
}
.cards:not(:first-child){
    margin-left:10px;
}
.cards h3 {
    text-align: start;
    font-family: 'Rubik', sans-serif;
}
.cards p {
    flex: 1;
    text-align: start;
    font-weight: 350;
    font-size: 14px;
    color: #979797;
}
.scrollCards{
    display: flex;
    overflow-x: auto;
    /* flex-direction: row;
    flex-wrap: wrap; */
}

.headers{
    display: inline;
    flex-direction: row;
    width: 70%;
    align-self: center;
    background-color: blue;
    margin-left: 14%;
}

.headers:first-child{
    font-size: 1rem;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

/* .avatar:nth-child(1){
    background-image: url("https://play-lh.googleusercontent.com/Hvw25BrA9MMkF6wsEYAsLALW91m3F1oUGtpYX84Pgsh1-V53yM5kDhx_5kO7mIdCFo4=s96-rw");
    background-size: cover;
} */
.export{
    position:absolute;
    bottom: 25px;
    right: 10px;
  }

  .export a{
    text-decoration: none;
    color: rgb(88, 88, 255);
  }